/* Extra small devices (phones, 767px and down) */
@media only screen and (max-width: 767px) {
    /* GRID CONTAINER 1 */

    .grid-container {
        display: grid;
        grid-template-areas:
          'header1'
          'header2'
          'header3'
          'nav1';
        background-color: black;
        padding: 20px;
        margin: 20px;
    }

    .container-1-1 {
        background-color: #2D4059;
        margin-bottom: 15px;
    }

    .container-1-1-1, .container-1-1-2,  .container-1-1-3 {
        background: #EA5455;
        padding: 10px;
        height: 15px;
        margin: 15px;
    }

    .container-1-1-1 {
        grid-area: header1;
    }

    .container-1-1-2 {
        grid-area: header2;
    }

    .container-1-1-3 {
        grid-area: header3;
    }

    .container-1-2 {
        grid-area: nav1;
        background-color: #F07B3F;
        padding: 10px;
        height: 45px;
    }

    .container-1-2-1 {
        background: #FED460;
        padding: 10px;
        height: 15px;
        margin: 5px 5px 5px;
    }



    /* GRID CONTAINER 2 */

    .grid-container2 {
        display: grid;
        grid-gap: 10px;
        background-color: #FED460;
        padding: 20px;
        margin: 20px;
    }

    .grid-container2 > .container-2-1 {
        background-color: #09506F;
        text-align: center;
        padding: 15px 15px;
        font-size: 30px;
        grid-gap: 15px;
    }

    .container-2-1 > div {
        background: #62969C;
        margin-bottom: 20px;
        padding: 10px;
        height: 15px;
    }

    .container-2-1 > .container-2-1-5 {
        background: #A3DDCB;
    }

    .container-2-2 {
        background-color: #FD7B54;
    }

    .container-2-2 > div {
        background: #FDB36B;
        margin: 20px;
        padding: 10px;
        height: 15px;
    }

    /* GRID CONTAINER 3 */

    .grid-container3 {
        max-width: 1200px;
        display: grid;
        grid-template-areas:
      'header header header header header header'
      'nav nav nav nav nav nav';
        background-color: black;
        padding: 20px;
        margin: 20px;
    }

    .grid-container3 > .container3-1 {
        background-color: #2D4059;
        text-align: center;
        padding: 15px 15px;
        font-size: 30px;
        grid-gap: 15px;
    }

    .grid-container3 > .container3-1 {
        background-color: #F07B3F;
    }

    .container3-1 > div {
        margin-bottom: 15px;
    }

    .container3-1 {
        grid-area: nav;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    /* GRID CONTAINER 1 */

    .grid-container {
        max-width: 1200px;
        display: grid;
        grid-template-areas:
      'header header header header header header'
      'nav nav nav nav nav nav';
        grid-gap: 10px;
        background-color: black;
        padding: 20px;
        margin: 20px;
    }

    .container-1-1 {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-area: header;
        background-color: #2D4059;
        text-align: center;
        padding: 15px 15px 0;
        font-size: 30px;
        grid-gap: 15px;
    }

    .container-1-2 {
        display: grid;
        grid-template-columns: auto;
        grid-area: nav;
        background-color: #F07B3F;
        text-align: center;
        padding: 15px 15px 0;
        font-size: 30px;
        grid-gap: 15px;
    }

    .container-1-1-1, .container-1-1-2, .container-1-1-3 {
        background: #EA5455;
        margin-bottom: 20px;
        padding: 10px;
        height: 15px;
    }

    .container-1-2-1 {
        background: #FED460;
        margin-bottom: 20px;
        padding: 10px;
        height: 15px;
    }


    /* GRID CONTAINER 2 */

    .grid-container2 {
        display: grid;
        grid-template-areas:
            'content content content'
            'aside aside aside';
        grid-gap: 10px;
        background-color: #FED460;
        padding: 20px;
        margin: 20px;
    }

    .container-2-1{
        background-color: #2D4059;
        text-align: center;
        padding: 15px 15px 0;
        grid-gap: 15px;
        display: grid;
        grid-area: content;
        grid-template-areas:
            'content3 content4'
            'content5 content6'
            'content7 content7';
    }

    .container-2-1 > div {
        background-color: #1F6CB0;
        margin-bottom: 20px;
        padding: 10px;
        height: 15px;
    }

    .container-2-1-1 {
        grid-area: content3;
    }

    .container-2-1-2 {
        grid-area: content4;
    }

    .container-2-1-3 {
        grid-area: content5;
    }

    .container-2-1-4 {
        grid-area: content6;
    }

    .container-2-1 > .container-2-1-5 {
        grid-area: content7;
        background-color: #70A3C4;
    }

    .container-2-2 {
        grid-area: aside;
        background-color: #EA5455;
        text-align: center;
        padding: 15px 15px 0;
        grid-gap: 15px;
    }

    .container-2-2 > div {
        background: #FED460;
        margin-bottom: 20px;
        padding: 10px;
        height: 15px;
    }

    /* GRID CONTAINER 3 */

    .grid-container3 {
        max-width: 1200px;
        display: grid;
        grid-template-areas:
      'header header header header header header'
      'nav nav nav nav nav nav';
        background-color: black;
        padding: 20px;
        margin: 20px;
    }

    .grid-container3 > div {
        background-color: #2D4059;
        text-align: center;
        padding: 15px 15px;
        font-size: 30px;
        grid-gap: 15px;
    }

    .grid-container3 > .container3-1 {
        background-color: #F07B3F;
        text-align: center;
        padding: 15px 15px;
        font-size: 30px;
        grid-gap: 15px;
    }

    .container3-1 {
        grid-area: nav;
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    /* GRID CONTAINER 1 */

    .grid-container {
        max-width: 1200px;
        display: grid;
        grid-template-areas:
      'header header header header header header'
      'nav nav nav nav nav nav';
        grid-gap: 10px;
        background-color: black;
        padding: 20px;
        margin: 20px;
    }

    .container-1-1 {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-area: header;
        background-color: #2D4059;
        text-align: center;
        padding: 15px 15px 0;
        font-size: 30px;
        grid-gap: 15px;
    }

    .container-1-2 {
        display: grid;
        grid-template-columns: auto;
        grid-area: nav;
        background-color: #F07B3F;
        text-align: center;
        padding: 15px 15px 0;
        font-size: 30px;
        grid-gap: 15px;
    }

    .container-1-1-1, .container-1-1-2, .container-1-1-3 {
        background: #EA5455;
        margin-bottom: 20px;
        padding: 10px;
        height: 15px;
    }

    .container-1-2-1 {
        background: #FED460;
        margin-bottom: 20px;
        padding: 10px;
        height: 15px;
    }


    /* GRID CONTAINER 2 */

    .grid-container2 {
        max-width: 1200px;
        display: grid;
        grid-template-areas:
            'content content aside';
        grid-gap: 10px;
        background-color: black;
        padding: 20px;
        margin: 20px;
    }

    .container-2-1 {
        background-color: #2D4059;
        text-align: center;
        font-size: 30px;
        grid-gap: 15px;
        display: grid;
        grid-area: content;
        grid-template-areas:
            'content3 content4'
            'content5 content6'
            'content7 content7';
    }

    .container-2-1-1 {
        grid-area: content3;
    }

    .container-2-1-2 {
        grid-area: content4;
    }

    .container-2-1-3 {
        grid-area: content5;
    }

    .container-2-1-4 {
        grid-area: content6;
    }

    .container-2-1 > .container-2-1-5 {
        grid-area: content7;
        background-color: #70A3C4;
    }

    .container-2-2 > div {
        background: #FED460;
        margin-bottom: 20px;
        padding: 10px;
        height: 15px;
    }

    /* GRID CONTAINER 3 */

    .grid-container3 {
        max-width: 1200px;
        background-color: black;
        padding: 20px;
        margin: 20px;
    }

    .grid-container3 > div {
        background-color: #2D4059;
        text-align: center;
        padding: 15px 15px;
        font-size: 30px;
        grid-gap: 15px;
    }

    .grid-container3 > .container3-1 {
        background-color: #F07B3F;
        text-align: center;
        padding: 15px 15px;
        font-size: 30px;
        grid-gap: 15px;
    }

    .container3-1 {
        grid-area: nav;
    }
}